@import '../../../../assets/scss/colors.scss';

.navbar {
  padding: 1rem;

  .nav-heading {
    display: inline-flex;
    justify-content: flex-end;
    font-size: 2rem;
    color: $black-color;
  }

}

@media screen and (max-width: 400px) {
  .navbar {

    .nav-heading {
      font-size: 1.5rem;
    }

  }
}

@media screen and (min-width: 400px) and (max-width: 500px) {

  .navbar {

    .nav-heading {
      font-size: 1.5rem;
    }
  }

}
